.promo2-section {
    padding-top: 120px;
}

.promo2-block {
    width: 1780px;
    height: 523px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 97px;
    border-radius: 40px;
    background-color: #2D2D2D;
}

.promo2-info {
    width: 760px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.promo2-title {
    font-size: 48px;
    color: #FFFFFF;
}


.promo2-img {
    position: relative;
    max-width: 683px;
    height: 403px;
}

.promo2-img::after {
    content: ""; 
    position: absolute; 
    bottom: 5px; 
    left: 24px; 
    width: 88px; 
    height: 89px; 
    background-image: url('../img/Star\ 1.png'); 
    background-size: cover;
}