.reviews-section {
    padding-top: 120px;
}

.reviews-block {
    max-height: 1225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-title {
    max-width: 466px;
    font-size: 48px;
    text-align: center;
}

.reviews-text {
    max-width: 791px;
    font-size: 32px;
    text-align: center;
    color: #808080;
    padding-top: 20px;
}

.reviews-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 38px;
}

.reviews-card {
    width: 350px;
    height: 556px;
    border-radius: 30px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
}

.reviews-grade {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.grade-number {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
}

.grade-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.reviews-card_text {
    min-width: 350px;
    color:#2D2D2D;
    font-size: 24px;

}

.review-info {
    font-size: 24px;
    color: #808080;
    padding-top: 20px;
}

.reviews-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 38px;
}

.reviews-video_item{
    display: flex;
    flex-direction: column;
}
.video-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 320px;
    border-radius: 40px;
    background-color: #2D2D2D;
}
.screen-button {
    background-image: url("../img/video-btn.png");
    background-size:auto;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
.reviews-video_text {
    color: #2D2D2D;
    font-size: 24px;
    padding-top: 12px;
}